.friend_list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 50px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 200px;

  background-color: white;
}

.status {
  border-radius: 50%;

  width: 10px;
  height: 10px;
}
